*.ids
*.iml
*.ipr
*.iws
*.pdf
*.pmd
*.tmp
*~
.classpath
.idea
.project
.projectile
.settings
GPATH
GRTAGS
GSYMS
GTAGS
TAGS
derby.log
pmd-eclipse.log
src/main/webapp/META-INF/MANIFEST.MF
target
dependency-reduced-pom.xml
wget-log
