*.ids
*.iml
*.ipr
*.iws
*.pdf
*.pmd
*.pyc
*.tmp
*.versionsBackup
*~
.classpath
.idea
.project
.projectile
.settings
GPATH
GRTAGS
GSYMS
GTAGS
TAGS
TAGS
__pycache__
bin/make.sh
conf/cache
dependency-reduced-pom.xml
derby.log
generated
output
pmd-eclipse.log
src/main/webapp/META-INF/MANIFEST.MF
target
wget-log
workbench.xmi
