*.ids
*.iml
*.ipr
*.iws
*.orig
*.pdf
*.pmd
*.pyc
*.swp
*.tkj
*.tmp
*.versionsBackup
*~
.classpath
.externalToolBuilders
.idea
.project
.projectile
.settings
GPATH
GRTAGS
GSYMS
GTAGS
TAGS
TAGS
__pycache__
bin/make.sh
conf/cache
dependency-reduced-pom.xml
derby.log
generated
junit*.properties
maven-eclipse.xml
output
pmd-eclipse.log
smex-items
src/main/webapp/META-INF/MANIFEST.MF
target
velocity.log
wget-log
workbench.xmi
