*#
*~
GPATH
GRTAGS
GSYMS
GTAGS
TAGS
elpa
emacs/.emacs.d/.mc-lists.el
emacs/.emacs.d/abbrev_defs
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/bookmarks
emacs/.emacs.d/custom.el
emacs/.emacs.d/eshell/history
emacs/.emacs.d/eshell/lastdir
emacs/.emacs.d/file_cache.el
emacs/.emacs.d/ido.last
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/projectile.cache
emacs/.emacs.d/session.107b721178d1e1d2af13630216038135900000170350039
emacs/.emacs.d/tramp
emacs/.emacs.d/url/cache
emacs/.emacs.d/url/cookies
fluxbox/lastwallpaper
fluxbox/log
fluxbox/menu
fluxbox/overlay
fluxbox/slitlist
fluxbox/windowmenu
gitignore
thumbs
emacs/.emacs.d/.emacs.desktop
emacs/.emacs.d/.emacs.desktop.lock
emacs/.emacs.d/eww-bookmarks
emacs/.emacs.d/image-dired
emacs/.emacs.d/network-security.data
