Emacs*useXIM: false

Mono:bold:pixelsize=12:antialias=false:hinting=true
URxvt*scrollBar: false
URxvt.perl-ext-common:  default,matcher
URxvt.urlLauncher:      opera
URxvt.matcher.button:   1
URxvt.underlineURLs: true


!! see .Xresources-solarized-theme for fancy solarized theme in urxvt,
!! Skype++